{% extends 'main.html' %}
{% block title %}Posts{% endblock %}


{% block body %}
{% if category_list %}
    <div class="card-body">
        <h5>Artykuły w kategorii: {{category_name|title}}</h5>
    </div>
    {% for post in category_list %}
            {% if post.is_active %}
                <div class="card" style="width: 70rem;">
                    <div class="card-body">
                         <div class="container">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title"><a href="{% url 'post_detail' post.id %}" style="text-decoration:none;" >{{post.title|title}}</a></h5>
                                    <p class="card-text">{{post.creation_date}} | {{post.author}} | Kategoria: {{post.category}}
                                        {% if user.is_authenticated %}
                                            </br>
                                            {% if user.id == post.author.id %}
                                                <a href="{% url 'delete_post' post.id %}">[Usuń]</a><a href="{% url 'edit_post' post.id %}">[Edytuj]</a>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    <p>
                                        {{post.snippet}}......
                                    </p>
                                 </div>
                                <div class="col">
                                {% if post.post_picture %}
                                     <img src="{{ post.post_picture.url }}" width="175" class="rounded mx-auto d-block" style="float:right;vertical-align:middle;">
                                {% endif %}
                                 </div>
                            </div>
                         </div>
                    </div>
                </div>

            {% endif %}
            </br>
    {% endfor %}

{% else %}
   <div class="card" style="width: 70rem;">
       <div class="card-body">
           Niestety nie znalezliśmy artykułów w kategorii: <h5>{{category_name|title}}</h5>
       </div>
   </div>
{% endif %}

{% if category_list.has_previous or category_list.has_next %}
    <div class="pagination justify-content-center">
        <span class="step-links">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                  {% if category_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ category_list.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                  {% endif %}
                  {% if category_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ category_list.previous_page_number }}">{{ category_list.previous_page_number }}</a></li>
                    {% if not category_list.has_next %}
                        <li class="page-item active">
                             <a class="page-link" href="#">{{category_list.number}} <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                  {% endif %}

                  {% if category_list.has_next %}
                    <li class="page-item active">
                         <a class="page-link" href="#">{{category_list.number}} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ category_list.next_page_number }}">{{ category_list.next_page_number }}</a></li>
                  {% endif %}
                  {% if category_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ category_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                  {% endif %}
              </ul>
                {% if category_list.has_previous and category_list.has_next %}
                    <ul>
                        <p style="font-style:italic">
                        &nbsp&nbsp&nbspStrona {{ category_list.number }} z <a href="?page={{ category_list.paginator.num_pages }}" style="text-decoration:none">{{ category_list.paginator.num_pages }}</a>
                        </p>
                    </ul>
                {% else %}
                <p style="font-style:italic">
                    &nbsp&nbsp&nbspStrona {{ category_list.number }} z <a href="?page={{ category_list.paginator.num_pages }}" style="text-decoration:none">{{ category_list.paginator.num_pages }}</a>
                </p>
                {% endif %}
            </nav>
        </span>
    </div>
{% endif %}

{% endblock %}


