{% extends 'main.html' %}
{% block title %}Edit post{% endblock %}
{% load bootstrap %}


{% block body %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="card" style="width: 70rem;">
            <div class="card-body">
                <h5>Edytuj artykuł...</h5></br>
               <form method="POST", enctype="multipart/form-data">
                   {% csrf_token %}
                   {{form.media}}
                   {{form.as_p}}</br>
                   <button type="submit" class="btn btn-primary">Zapisz</button>
               </form>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 70rem;">
        <div class="card-body">
            <strong>Zaloguj sią jako prawidłowy użytkownik aby edytować artykuł...</strong>
        </div>
    </div>
    {% endif %}
{% else %}
    <div class="card" style="width: 70rem;">
        <div class="card-body">
            Zaloguj sie aby edytować artykuł...
        </div>
    </div>
{% endif %}
{% endblock %}